[submodule "projects/01-sudoku"]
	path = projects/01-sudoku
	url = git@github.com:sudowork/AIND-Sudoku.git
[submodule "projects/02-isolation"]
	path = projects/02-isolation
	url = git@github.com:sudowork/AIND-Isolation.git
